/*Background Gradient*/
body {
    padding: 0;
    background:
            radial-gradient(rgba(4, 12, 0, 0.7), transparent 50%),
            radial-gradient(rgba(4, 14, 0, 0.5), transparent 50%),
            linear-gradient(135deg, #000000, #050c00, #041000);
    background-attachment: fixed;
    display: flex;
    min-height: 100vh;
    margin: 0;
    transition: background-color 0.3s ease;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: clip;
    width: 100vw;
}

/*Out fading grid in screen center*/
body::before {
    content: "";
    position: absolute;
    top: 25vw;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background-image:
            linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
            linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
    background-size: 50px 50px;
    pointer-events: none;
    z-index: 0;
    mask-image: radial-gradient(ellipse, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%);
}

/*General Container of everything*/
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    align-items: flex-end;
}

/*Name Title on the top Left*/
.name-title{
    color: #26af01;
    font-family: Tahoma, serif;
    font-weight: 700;
    font-size: 2rem;
    position: relative;
    top: 0;
    left: 0;
    align-self: flex-start;
}

/*Container for the greeting*/
.greeting-container{
    flex-direction: column;
    position: relative;
    top: 140px;
    left: 0;
    width: 420px;
    align-self: flex-start;
}

/*Text in the greeting*/
.greeting-container h2{
    color: white;
    font-family: Tahoma, serif;
    font-weight: bold;
    font-size: 2.5rem;
}

/*Container for the social links*/
.social-container{
    flex-direction: column;
    position: relative;
    top: 140px;
    left: 0;
    width: 420px;
    align-self: flex-start;
}

a{
    text-decoration: none;
}

/*Icons for social links*/
.social-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
    filter: brightness(0) saturate(100%) invert(65%) sepia(70%) saturate(1069%) hue-rotate(30deg) brightness(100%) contrast(101%);
    margin: 5px;
}

.social-icon:hover {
    transform: scale(1.2);
}

/*Container for the code Window*/
.code-window {
    background-color: #1e1f22;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 600px;
    height: 410px;
    max-width: 540px;
    left: -200px;
    position: relative;
}

/*Container for the code Window*/
.window-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

/*Window Button*/
.code-window-button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

/*Window which contains the Code*/
.code-block {
    background-color: #26262b;
    color: #F8F8F2;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: clip;
}

.keyword {
    color: #8abe80;
    font-weight: bold;
}
.variable{
    color: #e5d8b6;
}

.string {
    color: #b8b949;
}

.integer {
    color: #c38498;
}

.boolean {
    color: #ba8498;
}

.comment {
    color: #928275;
    font-style: italic;
}

.description-container {
    display: flex;
    position: relative;
    top: 140px;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 100px;
}

.description-container h2 {
    color: white;
    font-family: Arial, serif;
    font-size: 1.4rem;
    margin-right: auto;
}

.personal-image {
    width: 200px;
    margin-left: 80px;
    position: relative;
    border-radius: 13px;
}

.tools-container{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 140px;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.title {
    font-family: Arial, serif;
    color: #9bcf00;
    font-size: 2rem;
    font-weight: bold;
    align-self: center;
    margin-bottom: 30px;
}

.tools-scroll {
    position: relative;
    width: 100%;
    height: 190px;
    overflow: hidden;
    background-color: #1e1f22;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.tools-track {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.tool-item{
    border-radius: 10px;
    background-color: #26262b;
    height: 160px;
    width: 130px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
    transition: transform 0.2s ease;
}

.tool-item:hover {
    transform: scale(1.15);
}

.tool-item img{
    margin-top: 10px;
    height: 100px;
    width: 100px;
}

.tool-item h1{
    color: white;
    font-family: Arial, serif;
    font-size: 1.1rem;
}

.project-container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 140px;
    width: 100%;
}

.project-holder{
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 50px;
    position: relative;
    top: 50px;
    padding-bottom: 100px;
}

.project-item{
    width: 405px;
    height: 500px;
    background-color: #1e1f22;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    transition: transform 0.2s ease;
    padding: 20px;
}

.project-item:hover {
    transform: scale(1.03);
}

.project-item h1{
    top: 30px;
    left: 25px;
    align-self: center;
    color: #9bcf00;
    font-family: Tahoma, serif;
    font-weight: bold;
    font-size: 2.2rem;
    position: relative;
}

.project-item-window{
    background-color: #26262b;
    color: #F8F8F2;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: clip;
    height: 430px;
}

.project-item-window img{
    width: 360px;
    max-height: 220px;
    height: auto;
    position: relative;
    border-radius: 10px;
    margin-bottom: 20px;
}

@media (max-width: 1620px) {
    .code-window {
        left: 0;
    }
}

@media (max-width: 1280px) {
    .code-window {
        align-self: flex-start;
        margin-top: 260px;
        left: 0;
        margin-bottom: 30px;
    }
}

@media (max-width: 1155px) {
    .description-container {
        flex-direction: column;
        align-items: center;
        top: 180px;
    }

    .description-container h2 {
        text-align: center;
    }

    .personal-image {
        margin-top: 30px;
        align-self: center;
        margin-left: 0;
    }
}

@media (max-width: 760px) {
    .code-window {
        align-self: center;
        width: 90%;
        height: calc(410px + 10%);
    }
}

@media (max-width: 600px) {
    .container{
        width: 80%;
        position: relative;
    }
}

@media (max-width: 445px) {
    .container{
        width: 100%;
        left: 30px
    }
}

@media (max-width: 375px) {
    .greeting-container{
        width: 300px;
    }
}

@media (max-width: 320px) {
    .container{
        width: 100%;
        left: 90px
    }

    .code-window {
        height: calc(410px + 20%);
    }
}